/* 全局字体--微软雅黑 */
body {
    font-family: "Microsoft Yahei";
    background: #2c2c2c;
}

/* 顶部导航 start */
/* 最新公告  */
nav .flexlist_nav>ul>li .active {
    color: #059FFF;
}

/* 当前线条 */
nav li div[class="newsLine"] {
    width: 72px;
    height: 3px;
    background: #059FFF;
}

nav {
    background-color: #192933;
}

/* 顶部导航 end */


/* 登录内容区域 start */
.loginDiv {
    margin-top: 80px;
    height: 700px;
    background: url('../img/login/login-bg.jpg') no-repeat 0 0;
}

/* 登录中间部分 */
.loginDiv>.loginContent {
    width: 1220px;
    position: relative;
    margin: 0 auto;
}

/* 登录中间部分文本 */
.loginDiv>.loginContent>.loginText {
    padding-left: 20px;
    padding-top: 182px;
    color: white;
    font-size: 16px;
}

.loginDiv>.loginContent>.loginText>h1 {
    margin-bottom: 37px;
    font-size: 28px;
    font-weight: normal;
}

.loginDiv .loginText>p {
    height: 22px;
    line-height: 22px;
    margin-bottom: 24px;
    text-indent: 38px;
    background: url('../img/login/login_desc_icon.png') no-repeat;
}

/* 登录中间部分登录框 */
.loginDiv .loginForm {
    position: absolute;
    right: 40px;
    top: 120px;
    padding: 38px 40px;
    padding-bottom: 35px;
    background-color: white;
    box-shadow: 0 2px 6px #888;
}

.loginDiv>.loginContent>.loginForm>p {
    margin-bottom: 28px;
    font-size: 22px;
    color: #666;
    font-weight: bold;
    text-align: center;
}

/* 登陆提示 */
.loginDiv>.loginContent>.loginForm>.loginTip {
    display: none;
    height: 32px;
    line-height: 32px;
    text-indent: 32px;
    font-size: 12px;
    color: #FF3300;
    background: #ffe0d9 url('../img/login/error-icon.png') no-repeat 8px 8px;
}

/* 电话号码 密码 */
.loginDiv>.loginContent>.loginForm .inp {
    height: 38px;
    line-height: 40px;
    margin-top: 8px;
    padding-left: 41px;
    border: 1px solid #ddd;
}

.loginDiv>.loginContent>.loginForm .loginName {
    background: url('../img/login/login_icons.png') no-repeat;
    background-position: 9px -278px;
}

.loginDiv>.loginContent>.loginForm>form>.inp>input {
    display: block;
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    border: none;
    outline: none;
}

.loginDiv>.loginContent>.loginForm .loginPwd {
    margin-top: 16px;
    background: url('../img/login/login_icons.png') no-repeat;
    background-position: 10px -196px;
}

/* 验证码一行 */
.identCode {
    display: none;
    margin-top: 16px;
    position: relative;
}

/* 验证码第一个div */
.identCode .inputCode {
    float: left;
    width: 128px;
    background: url('../img/login/login_icons.png') no-repeat;
    background-position: 10px -114px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    padding-left: 41px;
    box-sizing: border-box;
}

/* 验证码第一个div中输入框 */
.identCode .inputCode>input {
    display: block;
    width: 90%;
    height: 38px;
    line-height: 38px;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

/* 验证码图片部分 */
.identCode .codeImg {}

.identCode .codeImg>img {
    margin-left: 8px;
    cursor: pointer;
    width: 132px;
    height: 40px;
}

/* 刷新图标 */
.identCode .codeImg>span {
    position: absolute;
    right: 0;
    top: 8px;
    width: 24px;
    height: 22px;
    cursor: pointer;
    background: url('../img/login/refresh-icon.png') no-repeat center center;
}

/* 登陆状态 */
.loginOpt {
    margin-top: 19px;
    height: 12px;
    width: 98%;
    line-height: 12px;
    font-size: 12px;
    color: #00aaff;
    cursor: pointer;
}

.loginOpt input {
    width: 16px;
    height: 16px;
}

.loginOpt>label {
    display: inline-block;
    padding-left: 4px;
    vertical-align: top;
}

.loginOpt>a {
    float: right;
    color: #00aaff;
    font-size: 12px;
    text-decoration: none;
}

/* login按钮 */
.loginDiv .logsubmit {
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-color: #00aaff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 31px;
    font-family: "Microsoft Yahei";
    outline: none;
}

.loginDiv .logsubmit:hover {
    background: #41BCF9;
}

/* 最下面注册 */
.loginReg {
    font-size: 12px;
    color: #999;
    margin-top: 20px;
}

.loginReg a {
    color: #00aaff;
    text-decoration: none;
    margin-left: 6px;
}

/* 登录内容区域 end */


/* 登录底部 start */
.footerDiv {
    width: 1220px;
    margin: 0 auto;
    background: #292e33;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    text-align: center;
    color: #7a7d80;
}

.footerDiv p {
    line-height: 24px;
    font-size: 12px;
}

/* 登录底部 end */